.name-container{
    background-color: #b5d8e3;
    border: solid #a8c8d2;
    display: flex;

    padding-left: 20px;
    border-radius: 10px;

    align-items: center;
    justify-content: space-between;
}

.name-container:hover {
    background-color: #add1db; 
}

h1{
    font-size: xx-large;
    font-family: "Tahoma", sans-serif;  
    font-weight: 700;
}

.body-container {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    display: flex;
}

.body {
    font-size: medium;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}

.col-end {
    margin-left:80px;
    font-size: medium;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}

.title-container {
    
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #bfc5f9;
    border: solid #8a93e6;
    border-radius: 10px;
    display: flex;
}

.title-container:hover {
    background-color: #acb3f6;
}

.title {
    font-size: large;
    font-family: "Tahoma", sans-serif;    
    font-weight: 700; 
    padding: 5px;
}

img {
    width: 30px;
    height: 30px;
}

large-img img{
    padding-right: 20px;
    width: 40px;
    height: 40px;

}

.nav-button {
    background-color: #6bd3ff;
    border: 0;
    width: 120px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    font-size: large;
    float: right; 

    font-size: large;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}

.nav-button:hover {
    background-color: #36b2e7; 
}
nav {
    margin: 20px;
}