/*Colors*/
.title-container {
    background-color: #bfc5f9;
    border: solid #8a93e6;
}

header, .name-container, .nav-button, .left_top {
    background-color: #b5d8e3;
}

.large-button, .play-button {
    background-color: #78B095;
}

.large-button:hover, .play-button:hover {
    background-color: #5b997b;
}

.nav-button:hover {
    /*background-color: #90c1cf;*/
    background-color: #8fc5b7;
}

.right_bottom, .nav-button {
    background-color: #abd0c6;
}

/*Headers*/
header {
    padding-left: 20px;
    border-radius: 10px;

    font-size: medium;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: xx-large;
    font-family: "Tahoma", sans-serif;  
    font-weight: 700;
}
h2{
    font-size: 60px;
    font-family: "Tahoma", sans-serif;  
    font-weight: 100;
    margin-bottom: 20px;
}

/*Containers and Bodies*/
nav {
    margin: 20px;
}

.body-container {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    display: flex;
}

.title-container {   
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 10px;
    display: flex;
}

.title {
    font-size: large;
    font-family: "Tahoma", sans-serif;    
    font-weight: 700; 
    padding: 5px;
}

.home-body {
    position: absolute;
    top: 30%;
}

.body {
    font-size: large;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
    background:transparent;
}

/*Buttons*/
.nav-button {
    border: 0;
    width: 200px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    font-size: large;
    float: right; 

    font-size: large;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}

.large-button {
    border: 0;
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right:20px;
    color: white;
    font-size: x-large;

    display: flex;
    justify-content: center;
    align-items: center;
}

.large-button a {
    text-decoration: none;
    color: inherit;
}

.play-button {
    border: 0;
    width: 150px;
    height: 70px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: x-large;
}

/*Images*/
img {
    width: 30px;
    height: 30px;
}

large-img img{
    padding-right: 20px;
    width: 40px;
    height: 40px;
}

.background-img1 {
    width: 100%;
    height: 500px;
    background: url('bg2.webp') no-repeat center center/cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.background-img2 {
    width: 100%;
    height: 500px;
    background: url('bg.avif') no-repeat center center/cover;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 70%), linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);;
    mask-composite: intersect;
}

/*Home page graphics*/
.left_half_container{
    width: 50%;
    height:100%;
    float: left; 
    display:inline-block;
    margin:0;
    padding:0;
    position: fixed;
}

.left_top{
    border-radius: 10px;
    width:100%; 
    height: 40%;
    
    padding-left: 20px;
    display: grid;
    align-items: end;

}

.left_bottom{
    width:100%; 
    height: 60%;
    align-items: flex-end;
    justify-content: flex-end;
    display:absolute;
}

.rigth_half_container{
    width: 50%;
    height: 100%; 
    float: right;
    display: inline-block;
    margin:0;
    padding:0;
    position: fixed;
}

.right_top{
    width:100%; 
    height: 20%; 
    position: fixed;
    display: inline-block;
}

.right_bottom {
    width: 50%;
    height: 80%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 10px;
}

.diamond{
    height: 600px;
    width: 400px;
    background-color: transparent;
    justify-content: center;
    position:fixed;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
}
.diamond img{
    width: 440px;
    height: 500px;
    object-position:bottom;
    object-fit: cover;
}