header {
    background-color: #b5d8e3;
    border: solid #b5d8e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    border-radius: 10px;
    font-size: medium;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}
header:hover{
    background-color: #add1db; 
}
h1{
    font-size: xx-large;
    font-family: "Tahoma", sans-serif;  
    font-weight: 700;
}

.nav-button {
    background-color: #6bd3ff;
    border: 0;
    width: 120px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    font-size: large;
    float: right;
}

.nav-button:hover {
    background-color: #36b2e7; 
}

nav {
    margin: 20px;
}

