.name-container{
    background-color: #6bd3ff;
    border: solid #399eca;
    display: flex;

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.name-container:hover {
    background-color: #36b2e7;
}

.name {
    font-size: xx-large;
    font-family: "Tahoma", sans-serif;  
    font-weight: 700;
    padding: 10px;
}

.body-container {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    display: flex;
}

.body {
    font-size: medium;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}

.col-end {
    margin-left:80px;
    font-size: medium;
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}

.title-container {
    
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #bfc5f9;
    border: solid #8a93e6;
    border-radius: 10px;
    display: flex;
}

.title-container:hover {
    background-color: #acb3f6;
}

.title {
    font-size: large;
    font-family: "Tahoma", sans-serif;    
    font-weight: 700; 
    padding: 5px;
}

img {
    width: 30px;
    height: 30px;
}

large-img img{
    width: 50px;
    height: 50px;
    padding: 5px;
}